{% extends "movie/base.html" %}

{% block content %}


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="../../static/movie/image/spark.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Spark</h2>
          <p>利用Spark进行预测</p>
          <p><a class="btn btn-default" href="#" role="button">了解更多 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="../../static/movie/image/django.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Django</h2>
          <p>使用Django搭建website</p>
          <p><a class="btn btn-default" href="#" role="button">了解更多 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="../../static/movie/image/bootstrap.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>BootStrap</h2>
          <p>使用BootStrap美化界面</p>
          <p><a class="btn btn-default" href="#" role="button">了解更多 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">想你所想</h2>
          <p class="lead">利用Spark进行预测，精准地预测你对未看过的电影的评分。</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="../../static/movie/image/spark_cli.png" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="../../static/movie/image/django_ide.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">使用Django</h2>
          <p class="lead">功能框架清晰;编码量小、开发效率高;有现成模版减少UI工作量;国外网站开发应用选型热点。</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">开始看电影吧</h2>
          <p class="lead">Blah Blah Blah.Blah Blah Blah.Blah Blah Blah.Blah Blah Blah.Blah Blah Blah.Blah Blah Blah.Blah Blah Blah.Blah Blah Blah.Blah Blah Blah.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="../../static/movie/image/movie.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
{% endblock %}