{% extends "movie/base.html" %}
{% block content %}
    {% load paginate_tags %}
    {% paginate recommand_list 10 %}

      <div class="row">

        <table class="table table-hover table-condensed">
            <thead>
                向你推荐的电影信息如下
            </thead>
            <tbody>
                <tr>
                    <th>电影海报</th>
                    <th>电影名称</th>
                    <th>预估评分</th>
                    <th>你的评分</th>
                </tr>
                {% for recommand, rating in recommand_list %}
                    <tr>
                        <td><img src="{{ recommand.poster }}" width="75px" height="120px" /></td>
                        <td><a href="/movie/detail/{{ recommand.id }}">{{ recommand.moviename }}</a></td>
                        <td>{{ rating }}</td>
                        <td>
                            <select class="form-control">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    {% include 'movie/pagination.html' %}

{% endblock %}