<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>{{ errorMessage }}</p>
<table>
    <thead>
        你看过的电影及评分如下
    </thead>
    <tbody>
        <tr>
            <th>电影名称</th>
            <th>电影海报</th>
            <th>你的评分</th>
        </tr>
        {% for watched in watched_list %}
            <tr>
                <td><a href="http://localhost:8000/movie/detail/{{ watched.id }}">{{ watched.moviename }}</a></td>
                <td><img src="{{ watched.poster }}" width="75px" height="120px" /></td>
                <td>先空着</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>